@font-face 
  font-family: 'myfont'
  src: font_url('LearningCurve_OT.otf')
@font-face 
  font-family: 'mysvg'
  src: font_url('LearningCurve_OT.otf')
h1#big 
  font-family: 'mysvg'
  text-align: center
  background-color: #FF0
div#petit
  height: 200px
  width: 100px
