h1 Hi
ul.small-block-grid-3
  li
    a(
      href = "http://placehold.it"
    )
      img(
        src = "http://placehold.it/350x250"
      )
  li
    a(
      href = "http://placehold.it"
    )
      img(
        src = "http://placehold.it/350x250"
      )
  li
    a(
      href = "http://placehold.it"
    )
      img(
        src = "http://placehold.it/350x250"
      )

.row.my
  img(
    src = "http://placehold.it/350x250"
  )
